@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

:root {
  --yellow: #fdb056;
  --green: #81fe95;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  color: #ff4e4e;
  animation: blink 1s linear infinite;
}

.blinking-button {
  animation: blink 1s linear infinite;
}

.blinking-button:hover {
  animation: none;
}

.checkbox-input {
  appearance: none;
  position: relative;
  background: #424748;
  border: 1px solid #606566;
  border-radius: 3px;
}

.checkbox-input_red {
  background: #ff4e4e;
}

.checkbox-input:hover {
  cursor: pointer;
}

.checkbox-input:checked {
  background-color: #424748;
  background-image: url('/vector.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #606566;
}
